In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:

from io import StringIO
import requests
import json
import pandas as pd

# @hidden_cell
# This function accesses a file in your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
def get_object_storage_file_with_credentials_b0229f57d26048ebbeee34c5e21b1aaf(container, filename):
    """This functions returns a StringIO object containing
    the file content from Bluemix Object Storage."""

    url1 = ''.join(['https://identity.open.softlayer.com', '/v3/auth/tokens'])
    data = {'auth': {'identity': {'methods': ['password'],
            'password': {'user': {'name': 'member_bf2b79002e2f945583a88d49bdccac9b516fdec6','domain': {'id': '78a6389428974e79aa679e33dc7dc070'},
            'password': 'pQ,Mqd4X1A(VmP(s'}}}}}
    headers1 = {'Content-Type': 'application/json'}
    resp1 = requests.post(url=url1, data=json.dumps(data), headers=headers1)
    resp1_body = resp1.json()
    for e1 in resp1_body['token']['catalog']:
        if(e1['type']=='object-store'):
            for e2 in e1['endpoints']:
                        if(e2['interface']=='public'and e2['region']=='dallas'):
                            url2 = ''.join([e2['url'],'/', container, '/', filename])
    s_subject_token = resp1.headers['x-subject-token']
    headers2 = {'X-Auth-Token': s_subject_token, 'accept': 'application/json'}
    resp2 = requests.get(url=url2, headers=headers2)
    return StringIO(resp2.text)

df = pd.read_csv(get_object_storage_file_with_credentials_b0229f57d26048ebbeee34c5e21b1aaf('BigDataRealTimecomPythooneSpark', 'taxis_bikes_nycity.csv'),parse_dates=["Data"])
df.head()

        Data  Distancia Tempo
0 2015-08-02       1.70   NaN
1 2015-08-03       1.40   NaN
2 2015-08-04       2.10   NaN
3 2015-08-06       2.38   NaN
4 2015-08-07       2.30   NaN

In [16]:
df.dtypes

Data         datetime64[ns]
Distancia           float64
Tempo                object
dtype: object

In [13]:
df.columns

Index(['Data', 'Distancia', 'Tempo'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=81, step=1)

In [17]:
df.set_index("Data")

            Distancia    Tempo
Data
2015-08-02       1.70      NaN
2015-08-03       1.40      NaN
2015-08-04       2.10      NaN
2015-08-06       2.38      NaN
2015-08-07       2.30      NaN
2015-08-08       3.40      NaN
2015-08-09       2.50      NaN
2015-08-10       3.36  0:28:37
2015-08-11       1.67  0:13:07
2015-08-12       1.42  0:10:35
2015-08-13       2.35  0:17:25
2015-08-14       0.90  0:06:16
2015-08-14       0.90  0:06:16
2015-08-15       1.78      NaN
2015-08-16       0.65      NaN
2015-08-17       1.34      NaN
2015-08-18       0.65      NaN
2015-08-19       1.37      NaN
2015-08-19       1.37      NaN
2015-08-20       1.37  0:09:33
2015-08-21       1.37  0:09:24
2015-08-22       1.37  0:09:05
2015-08-23       1.34      NaN
2015-08-24       3.00      NaN
2015-08-25       1.37  0:08:55
2015-08-25       1.34      NaN
2015-08-26       1.37  0:10:30
2015-08-27       2.50  0:25:00
2015-08-29       5.00  0:43:27
2015-09-02       2.00      NaN
...               ...      ...
2015-10-25       2.00      NaN
2015-10-31       2.01      NaN
2015-11-02       1.37  0:08:43
2015-11-03       5.30  0:39:26
2015-11-04       3.05  0:22:12
2015-11-07       5.63  0:49:05
2015-11-07       1.26      NaN
2015-11-07       1.20      NaN
2015-11-09       3.05  0:22:36
2015-11-10       1.50  0:09:00
2015-11-10       1.50  0:11:33
2015-11-10       4.00      NaN
2015-11-23       3.05  0:22:35
2015-11-27       1.00      NaN
2015-11-28       3.00      NaN
2015-12-09       2.93  0:25:00
2015-12-12       1.37  0:09:15
2015-12-13       5.30  0:43:36
2015-12-13       2.21  0:18:59
2015-12-15       6.50  0:58:43
2015-12-17      12.00  1:39:00
2015-12-19       3.10  0:26:15
2015-12-20      14.80  2:15:00
2015-12-22       3.10  0:28:00
2015-12-23       5.63  0:51:50
2015-12-24       3.05  0:25:08
2015-12-25      14.80  2:20:00
2015-12-26       5.20      NaN
2015-12-30       3.15  0:22:10
2016-01-01      26.20  4:20:43

[81 rows x 2 columns]