# List Comprehension

In [1]:
array1 = range(0,15)

In [2]:
print(list(array1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [5]:
#Utilizando list comprehension
[num ** 3 for num in array1]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

In [6]:
# Retornando valores pares
[num for num in array1 if num % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14]

In [7]:
# Retornando o quadrado apenas dos valores pares
[num ** 2 for num in array1 if num % 2 == 0]

[0, 4, 16, 36, 64, 100, 144, 196]

In [8]:
# Criando uma lista de frases
array2 = ["Big Data com Big Data", "Teste","alfa","Big Data e Big Data"]

In [9]:
print(list(array2))

['Big Data com Big Data', 'Teste', 'alfa', 'Big Data e Big Data']

In [11]:
[item for item in array2 if item.count("Big Data") >= 2]

['Big Data com Big Data', 'Big Data e Big Data']

In [14]:
#Conversao de valores para float
[float(item) for item in array1]

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0]

In [15]:
#Elevando um valor ao quadrado com ListComprehension
[num ** 2 for num in array1]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [16]:
#Elevando um valor ao quadrado com uso de funcoes e funcao map
def elevarQuadrado(num):
    return num ** 2

In [24]:
valorQuadrado = map(elevarQuadrado,array1)
print(list(valorQuadrado))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [29]:
#Utilizando funcoes Lambda
list(map(lambda num:num**2,array1))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [30]:
#Utilizando funcoes Lambda, com uso de Filter em um array com 19 elementos
list(map(lambda num:num**2,filter(lambda num:num % 2 == 0,range(1,20))))

[4, 16, 36, 64, 100, 144, 196, 256, 324]