# Exemplos com DataFrame Pandas

In [1]:
import string
import pandas as pd
import numpy as np

In [2]:
dict = {"Coluna1":[123,1234,1235,23],"Coluna2":[123,1234,1235,23],"Coluna3":[123,1234,1235,23],"Coluna4":[123,1234,1235,23]}

In [3]:
dict

{'Coluna1': [123, 1234, 1235, 23],
 'Coluna2': [123, 1234, 1235, 23],
 'Coluna3': [123, 1234, 1235, 23],
 'Coluna4': [123, 1234, 1235, 23]}

In [4]:
df = pd.DataFrame(dict)

In [5]:
df

   Coluna1  Coluna2  Coluna3  Coluna4
0      123      123      123      123
1     1234     1234     1234     1234
2     1235     1235     1235     1235
3       23       23       23       23

In [6]:
df.dtypes

Coluna1    int64
Coluna2    int64
Coluna3    int64
Coluna4    int64
dtype: object

In [7]:
df["Coluna2"]

0     123
1    1234
2    1235
3      23
Name: Coluna2, dtype: int64

In [8]:
df["Coluna3"][2]

1235

In [18]:
df[2:4]

   Coluna1  Coluna2  Coluna3  Coluna4
2     1235     1235     1235     1235
3       23       23       23       23

In [19]:
df.index

RangeIndex(start=0, stop=4, step=1)

# Mais dataframes

In [22]:
colunas = list(range(26))

In [25]:
lcase = [x for x in string.ascii_lowercase]

In [27]:
ucase = [x for x in string.ascii_uppercase]

In [30]:
alfabeto = pd.DataFrame([colunas,lcase,ucase])

In [31]:
alfabeto

  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25
0  0  1  2  3  4  5  6  7  8  9 ...  16  17  18  19  20  21  22  23  24  25
1  a  b  c  d  e  f  g  h  i  j ...   q   r   s   t   u   v   w   x   y   z
2  A  B  C  D  E  F  G  H  I  J ...   Q   R   S   T   U   V   W   X   Y   Z

[3 rows x 26 columns]