In [1]:

from pyspark.sql import SparkSession

# @hidden_cell
# This function is used to setup the access of Spark to your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
def set_hadoop_config_with_credentials_f0d6ce325e0f4bc08812229b8d429dbe(name):
    """This function sets the Hadoop configuration so it is possible to
    access data from Bluemix Object Storage using Spark"""

    prefix = 'fs.swift.service.' + name
    hconf = sc._jsc.hadoopConfiguration()
    hconf.set(prefix + '.auth.url', 'https://identity.open.softlayer.com'+'/v3/auth/tokens')
    hconf.set(prefix + '.auth.endpoint.prefix', 'endpoints')
    hconf.set(prefix + '.tenant', '9a0cc60102244d368e96a83f25d4ca89')
    hconf.set(prefix + '.username', '0caf8026c98a4342ac027a05416e6dee')
    hconf.set(prefix + '.password', 'D[Cvr1bgf9DM^I{C')
    hconf.setInt(prefix + '.http.port', 8080)
    hconf.set(prefix + '.region', 'dallas')
    hconf.setBoolean(prefix + '.public', False)

# you can choose any name
name = 'keystone'
set_hadoop_config_with_credentials_f0d6ce325e0f4bc08812229b8d429dbe(name)

spark = SparkSession.builder.getOrCreate()

df_data_1 = spark.read\
  .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
  .option('header', 'true')\
  .load('swift://CursoSpark.' + name + '/carros.csv')
df_data_1.take(5)
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row

In [2]:
print(sc)

<pyspark.context.SparkContext object at 0x7f221fc311d0>

In [3]:
sqlContext = SQLContext(sc)

In [4]:
df_data_1.count()

159

In [5]:
carrosDF = df_data_1

In [6]:
type(carrosDF)

pyspark.sql.dataframe.DataFrame

In [7]:
carrosDF.show()

+---------+------+---------+---------+----------+-----+---------+-----+---------------+----------+------+-----+------+------+-----------+---------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|riskiness|losses|     make|fuel type|aspiration|doors|     body|drive|engine location|wheel base|length|width|height|weight|engine type|cylinders|engine size|fuel system|bore|stroke|compression ratio|horsepower|peak rpm|city mpg|highway mpg|price|
+---------+------+---------+---------+----------+-----+---------+-----+---------------+----------+------+-----+------+------+-----------+---------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|        2|   164|     audi|      gas|       std| four|    sedan|  fwd|          front|     99.80|176.60|66.20| 54.30|  2337|        ohc|     four|        109|       mpfi|3.19|  3.40|            10.00|       102|    5500|      24|         30|13950|
|        2|   164|     audi|      gas|       std| four|    sedan|  4wd|          front|     99.40|176.60|66.40| 54.30|  2824|        ohc|     five|        136|       mpfi|3.19|  3.40|             8.00|       115|    5500|      18|         22|17450|
|        1|   158|     audi|      gas|       std| four|    sedan|  fwd|          front|    105.80|192.70|71.40| 55.70|  2844|        ohc|     five|        136|       mpfi|3.19|  3.40|             8.50|       110|    5500|      19|         25|17710|
|        1|   158|     audi|      gas|     turbo| four|    sedan|  fwd|          front|    105.80|192.70|71.40| 55.90|  3086|        ohc|     five|        131|       mpfi|3.13|  3.40|             8.30|       140|    5500|      17|         20|23875|
|        2|   192|      bmw|      gas|       std|  two|    sedan|  rwd|          front|    101.20|176.80|64.80| 54.30|  2395|        ohc|     four|        108|       mpfi|3.50|  2.80|             8.80|       101|    5800|      23|         29|16430|
|        0|   192|      bmw|      gas|       std| four|    sedan|  rwd|          front|    101.20|176.80|64.80| 54.30|  2395|        ohc|     four|        108|       mpfi|3.50|  2.80|             8.80|       101|    5800|      23|         29|16925|
|        0|   188|      bmw|      gas|       std|  two|    sedan|  rwd|          front|    101.20|176.80|64.80| 54.30|  2710|        ohc|      six|        164|       mpfi|3.31|  3.19|             9.00|       121|    4250|      21|         28|20970|
|        0|   188|      bmw|      gas|       std| four|    sedan|  rwd|          front|    101.20|176.80|64.80| 54.30|  2765|        ohc|      six|        164|       mpfi|3.31|  3.19|             9.00|       121|    4250|      21|         28|21105|
|        2|   121|chevrolet|      gas|       std|  two|hatchback|  fwd|          front|     88.40|141.10|60.30| 53.20|  1488|          l|    three|         61|       2bbl|2.91|  3.03|             9.50|        48|    5100|      47|         53| 5151|
|        1|    98|chevrolet|      gas|       std|  two|hatchback|  fwd|          front|     94.50|155.90|63.60| 52.00|  1874|        ohc|     four|         90|       2bbl|3.03|  3.11|             9.60|        70|    5400|      38|         43| 6295|
|        0|    81|chevrolet|      gas|       std| four|    sedan|  fwd|          front|     94.50|158.80|63.60| 52.00|  1909|        ohc|     four|         90|       2bbl|3.03|  3.11|             9.60|        70|    5400|      38|         43| 6575|
|        1|   118|    dodge|      gas|       std|  two|hatchback|  fwd|          front|     93.70|157.30|63.80| 50.80|  1876|        ohc|     four|         90|       2bbl|2.97|  3.23|             9.41|        68|    5500|      37|         41| 5572|
|        1|   118|    dodge|      gas|       std|  two|hatchback|  fwd|          front|     93.70|157.30|63.80| 50.80|  1876|        ohc|     four|         90|       2bbl|2.97|  3.23|             9.40|        68|    5500|      31|         38| 6377|
|        1|   118|    dodge|      gas|     turbo|  two|hatchback|  fwd|          front|     93.70|157.30|63.80| 50.80|  2128|        ohc|     four|         98|       mpfi|3.03|  3.39|             7.60|       102|    5500|      24|         30| 7957|
|        1|   148|    dodge|      gas|       std| four|hatchback|  fwd|          front|     93.70|157.30|63.80| 50.60|  1967|        ohc|     four|         90|       2bbl|2.97|  3.23|             9.40|        68|    5500|      31|         38| 6229|
|        1|   148|    dodge|      gas|       std| four|    sedan|  fwd|          front|     93.70|157.30|63.80| 50.60|  1989|        ohc|     four|         90|       2bbl|2.97|  3.23|             9.40|        68|    5500|      31|         38| 6692|
|        1|   148|    dodge|      gas|       std| four|    sedan|  fwd|          front|     93.70|157.30|63.80| 50.60|  1989|        ohc|     four|         90|       2bbl|2.97|  3.23|             9.40|        68|    5500|      31|         38| 7609|
|       -1|   110|    dodge|      gas|       std| four|    wagon|  fwd|          front|    103.30|174.60|64.60| 59.80|  2535|        ohc|     four|        122|       2bbl|3.34|  3.46|             8.50|        88|    5000|      24|         30| 8921|
|        3|   145|    dodge|      gas|     turbo|  two|hatchback|  fwd|          front|     95.90|173.20|66.30| 50.20|  2811|        ohc|     four|        156|        mfi|3.60|  3.90|             7.00|       145|    5000|      19|         24|12964|
|        2|   137|    honda|      gas|       std|  two|hatchback|  fwd|          front|     86.60|144.60|63.90| 50.80|  1713|        ohc|     four|         92|       1bbl|2.91|  3.41|             9.60|        58|    4800|      49|         54| 6479|
+---------+------+---------+---------+----------+-----+---------+-----+---------------+----------+------+-----+------+------+-----------+---------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
only showing top 20 rows

In [8]:
carrosDF.createOrReplaceTempView("CarrosTB")

In [17]:
#Executando queries SQL
carrosTT = spark.sql("select make,horsepower, price from CarrosTB where cylinders='three'")

In [18]:
carrosTT.show()

+---------+----------+-----+
|     make|horsepower|price|
+---------+----------+-----+
|chevrolet|        48| 5151|
+---------+----------+-----+